<div class="table">
    <div class="topDiv">
        <button type="button" class="logoutButton" ng-click="logout()">&leftarrow;</button>
        <div class="topDivText">
            Book Store
        </div>
    </div>

    <div class="searchDiv">
        <form name="form" class="formBody">
            <label for="searchField">Search:</label>
            <input id="searchField" type="text" required ng-model="searchValue"/><br/>
        </form>

        <table id="booksTable" class="table table-condensed table-bordered table-striped">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="b in books | filter:searchValue" ng-click="showBook(b)">
                <td>{{ b.title }}</td>
                <td>{{ b.author }}</td>
                <td>{{ b.genre }}</td>
                <td>{{ b.price }}$</td>
            </tr>
        </table>
    </div>

    <div class="selectedBookDiv">
        <div class="bookInfo">
            <p>
                Title: <a class="bookText">{{ selectedBook.title }}</a>
            </p>
            <p>
                Author: <a class="bookText">{{ selectedBook.author }} </a>
            </p>
            <p>
                Genre: <a class="bookText">{{ selectedBook.genre }}</a>
            </p>
            <p>
                Year: <a class="bookText">{{ selectedBook.year }}</a>
            </p>
            <p>
                Stock: <a class="bookText">{{ selectedBook.stock }}</a>
            </p>
            <p>
                Price: <a class="bookText">{{ selectedBook.price }}</a>
            </p>
        </div>
    </div>

    <div class="sellBookDiv">
        <label for="amount">Amount:</label>
        <input id="amount" type="number" min="1" max="{{ selectedBook.stock }}" ng-model="amountToSell"/>
        <button type="button" class="sellButton" ng-click="sellBook(amountToSell)">Checkout</button>
    </div>
</div>