<div class="wrapper">
    <h2>Book Store - Assignment 2</h2>
    <button class="hpButton" ng-click="go('/loginEmployee')">Employee</button>
    <button class="hpButton" ng-click="go('/loginManager')">Manager</button>
</div>