html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
body {
    background-color: #7c7c7c;
    overflow: hidden;
}
table, th , td  {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    font-size: large;
    text-align: center;
}
th, td {
    padding: 15px;
    width: 25%;
}

table td:first-child{
    width: 5%;
}
table tr:hover {
    cursor: pointer;
}
table tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

h2 {
    color: white;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hpButton {
    width: 300px;
    height: 100px;
    background-color: #2cae25;
    color: white;
    font-size: large;
    position: relative;
    top: 20%;
}

.wrapper {
    text-align: center;
}

.table {
    position: relative;
    top: 30px;
    left: 4%;
    width: 30vw;
}

.searchDiv {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 32.5vw;
    height: 100vh;
    background: #c5c5c5;
    min-width: 360px;
}

.topDiv {
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
    background: #2384cd;
    position: fixed;
}

.topDivText {
    position: absolute;
    left: 4vw;
    top: 1vh;
    font-size: 3vh;
    color: white;
}

.displayDiv {
    position: relative;
    left: 18vw;
    height: 5vh;
    top: 1vh;
    color: white;
    width: 13vw;
}

.bookDisplay {
    font-size: x-large;
    width: 5vw;
    border: groove white thin;
    text-align: center;
    cursor: pointer;
}

.userDisplay {
    position: relative;
    font-size: x-large;
    width: 5vw;
    left: 6vw;
    top: -4.5vh;
    border: groove white thin;
    text-align: center;
    cursor: pointer;
}

.formArea {
    top: 10px;
    position: absolute;
    height: 50px;
    width: 500px;
    text-align: center;
    background-color: #d7bf87;
}

.formBody {
    position: relative;
    left: 2%;
    top: 10px;
    width: 120%;
}

.selectedBookDiv {
    position: absolute;
    left: 32vw;
    top: 20px;
    width: 20vw;
    height: 25vh;
    background-color: #c5c5c5;
}

.bookInfo {
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 2vh;
}

.bookText {
    color: #2384cd;
}

.sellBookDiv {
    position: absolute;
    left: 32vw;
    top: 28vh;
    width: 20vw;
    background-color: white;
}

.sellButton {
    position: relative;
    left: 2vw;
    top: 1px;
    width: 8vw;
    background-color: #2384cd;
    color: white;
}

input[type=number] {
    width: 20%;
}

input[type=text] {
    width: 70%;
}

input[type=password] {
    width: 70%;
}

select {
    width: 70%;
}

input[type=submit]{
    background-color: #2384cd;
    color: white;
    width: 40%;
    padding: 10px;
    margin: 5px;
}

input[type=submit]:hover{
    background-color: #b89ff0;
    color: white;
}

.inputFields {
    width: 70%;
    position: relative;
    right: 10px;
    text-align: right;
}

table#accountsTable {
    position: absolute;
    left: 1050px;
}

table#accountsTable td:nth-child(2) {
    width: 10%;
}

.passCheckbox {
    position: absolute;
    right: -60px;
    top: 3.5vh;
    width: 100px
}

.formAreaBook {
    top: 20px;
    position: absolute;
    height: 35vh;
    left: 32vw;
    width: 30vw;
    text-align: center;
    background-color: #c5c5c5;
}

.formAreaUser {
    top: 20px;
    position: absolute;
    height: 29vh;
    left: 32vw;
    width: 30vw;
    text-align: center;
    background-color: #c5c5c5;
}

.logoutButton {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
}

.reportDiv {
    position: absolute;
    top: 20px;
    height: 15vh;
    width: 25vw;
    left: 64vw;
    background-color: #2384cd;
}

.reportForm {
    text-align: center;
    top: 4vh;
    position: relative;
}