<div class="wrapper">
    <header>
        <h1>LunarBet</h1>
        <div class="categories">
            <a class="betCategory" ng-class="{ active : showBets}" ng-click="displayContent('bet')">Bets  </a>
            <a class="separator">|</a>
            <a class="resultCategory" ng-class="{ active : showResults}" ng-click="displayContent('result')">  Results</a>
        </div>
        <div class="accountButtons">
            <div class="registerAccount" ng-click="logout()">Logout</div>
        </div>
    </header>
    <div class="sportSelect">
        <div class="selectFootball" ng-class="{ active : selectedSport === 0 }" ng-click="selectEvents('football')">Football</div>
        <div class="selectBasket" ng-class="{ active : selectedSport === 1 }" ng-click="selectEvents('basket')">Basket</div>
        <div class="selectTennis" ng-class="{ active : selectedSport === 2 }" ng-click="selectEvents('tennis')">Tennis</div>
    </div>
    <div class="searchDiv">
        <form name="form" class="formBody">
            <label for="searchField"></label>
            <input id="searchField" type="text" placeholder="search" required ng-model="searchValue"/><br/>
        </form>
    </div>
    <div class="betOffer" ng-show="showBets">
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th style="width: 34%">Match</th>
                <th style="width: 33%">Date</th>
                <th style="width: 11%">1</th>
                <th style="width: 11%">X</th>
                <th style="width: 11%">2</th>
            </tr>
            <tr ng-repeat="e in selectedEvents | filter: searchValue">
                <td style="width: 34%">{{ e.teamA }} - {{ e.teamB }}</td>
                <td style="width: 33%">{{ convertToDate(e.moment) }}</td>
                <td style="width: 11%" ng-click="addToTicket(e.bet1, e.selected); e.selected = true">{{e.bet1}}</td>
                <td style="width: 11%" ng-click="addToTicket(e.betX, e.selected); e.selected = true">{{e.betX}}</td>
                <td style="width: 11%" ng-click="addToTicket(e.bet2, e.selected); e.selected = true">{{e.bet2}}</td>
            </tr>
        </table>
    </div>
    <div class="resultsDiv" ng-show="showResults">
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>Match</th>
                <th>Date</th>
                <th>Result</th>
            </tr>
        </table>
    </div>
    <div class="checkTicket">
        <form name="ticketForm" class="searchTicket" style="text-align: center">
            <label for="ticketField"></label>
            <input id="ticketField" class="ticketField" type="text" placeholder="Ticket number" ng-model="ticketNumber"/><br/>
            <button type="button" ng-click="checkTicket()" style="position: relative; width: 100%; top: 10px;">Verify</button>
        </form>
        <div ng-show="showTicketResult" class="ticketResult" ng-class="{ winning : ticketWon }">
            {{ ticketResult }}
        </div>
    </div>
    <div class="currentTicket" ng-show="currentTicket.odd > 1.0">
        <form name="ticketForm" class="searchTicket" style="text-align: center">
            <label for="currentTicket">Bet Amount</label>
            <input id="currentTicket" class="ticketField" type="number" ng-model="currentTicket.bet" style="width: 60%" ng-change="addToTicket(1.0, false)"/><br/>
            <input id="currentWin" class="ticketField" type="number" readonly ng-model="currentTicket.potential" style="width: 100%"/><br/>
            <button type="button" ng-click="makeBet()" style="position: relative; width: 100%; top: 10px;">Make Bet</button>
            <button type="button" ng-click="clearBet()" style="position: relative; width: 100%; top: 10px;">Clear</button>
        </form>
    </div>
</div>