<div class="table">
    <div class="topDiv">
        <button type="button" class="logoutButton" ng-click="logout()">&leftarrow;</button>
        <div class="topDivText">
            Book Store
        </div>
        <div class="displayDiv">
            <div class="bookDisplay" ng-click="showBooksDiv()">Books</div>
            <div class="userDisplay" ng-click="getUsers(); showUsersDiv()">Users</div>
        </div>
    </div>

    <div ng-hide="!booksVisible">
        <div class="searchDiv">
            <form name="form" class="formBody">
                <label for="searchFieldBooks">Search:</label>
                <input id="searchFieldBooks" type="text" required ng-model="searchValueBook"/><br/>
            </form>

            <table id="booksTable" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Stock</th>
                </tr>
                <tr ng-repeat="b in books | filter:searchValueBook" ng-click="showBook(b)">
                    <td>{{ b.title }}</td>
                    <td>{{ b.author }}</td>
                    <td>{{ b.genre }}</td>
                    <td>{{ b.price }}$</td>
                    <td>{{ b.stock }}</td>
                </tr>
            </table>
        </div>
        <div class="formAreaBook">
            <form name="form" class="formBody">
                <div class="inputFields">
                    <label for="bookTitle">Title:</label>
                    <input id="bookTitle" type="text" required ng-model="selectedBook.title"/><br/>
                    <label for="bookAuthor">Author:</label>
                    <input id="bookAuthor" type="text" required ng-model="selectedBook.author"/><br/>
                    <label for="bookGenre">Genre:</label>
                    <input id="bookGenre" type="text" required ng-model="selectedBook.genre"/><br/>
                    <label for="bookYear">Year:</label>
                    <input id="bookYear" type="number" required ng-model="selectedBook.year"/>
                    <label for="bookPrice">Price:</label>
                    <input id="bookPrice" type="number" required ng-model="selectedBook.price"/><br/>
                    <label for="bookStock">Stock:</label>
                    <input id="bookStock" type="number" required ng-model="selectedBook.stock"/><br/><br/>
                    <input type="submit" ng-click="clearBook()" value="Clear"/>
                    <input type="submit" ng-click="insertBook()" value="Create"/>
                    <input type="submit" ng-click="updateBook()" value="Update"/>
                    <input type="submit" ng-click="deleteBook()" value="Delete"/>

                </div>
            </form>
        </div>
        <div class="reportDiv">
            <form name="reportForm" class="reportForm">
                <label for="reportFormat">Format:</label>
                <select name="reportFormat" id="reportFormat" ng-model="reportFormat">
                    <option value="pdf" selected="selected">PDF</option>
                    <option value="csv">CSV</option>
                </select>
                <button ng-click="download(reportFormat)">Download {{reportFormat}}</button>
            </form>
        </div>
    </div>

    <div ng-hide="booksVisible">
        <div class="searchDiv">
            <form name="form" class="formBody">
                <label for="searchFieldUsers">Search:</label>
                <input id="searchFieldUsers" type="text" required ng-model="searchValueUser"/><br/>
            </form>

            <table id="usersTable" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th>Username</th>
                    <th>Type</th>
                </tr>
                <tr ng-repeat="u in users | filter:searchValueUser" ng-click="showUser(u)">
                    <td>{{ u.username }}</td>
                    <td>{{ u.password }}</td>
                </tr>
            </table>
        </div>
        <div class="formAreaUser">
            <form name="form" class="formBody">
                <div class="inputFields">
                    <label for="username">Username:</label>
                    <input id="username" type="text" required ng-model="selectedUser.username"/><br/>
                    <label for="password">Password:</label>
                    <input id="password" type="{{inputType}}" required ng-model="selectedUser.password"/>
                    <div class="passCheckbox">
                        <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                        <label for="checkbox" ng-if="passwordCheckbox">Hide</label>
                        <label for="checkbox" ng-if="!passwordCheckbox">Show</label><br/>
                    </div>
                    <label for="userType">User Type:</label>
                    <select name="userType" id="userType" ng-model="selectedUser.type" required>
                        <option value="admin">Admin</option>
                        <option value="employee" selected="selected">Employee</option>
                    </select>
                    <input type="submit" ng-click="clearUser()" value="Clear"/>
                    <input type="submit" ng-click="insertUser()" value="Create"/>
                    <input type="submit" ng-click="updateUser()" value="Update"/>
                    <input type="submit" ng-click="deleteUser()" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>